<!DOCTYPE html>
<html>
<body>
<h2>Change Password</h2>
<form action="/change-password" method="POST">
  <input type="password" name="newPassword" placeholder="New Password" required>
  <button type="submit">Update</button>
</form>
</body>
</html>
